.weather-info {
    display:none;
    background:black;
    border-radius: 5px;
    color:white;
}
.card{
    background-color: black;
    color: white;
    height: 500px;
    margin: 15px;
}
body{
    background-color: black;
}
.card-img-top{
    height: 180px;
}